<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>超锅快搜</title>
<link href="{{ url_for('static', filename='css/css.css') }}" rel="stylesheet" type="text/css" />
<link href="{{ url_for('static', filename='css/reset.min.css') }}" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="nav clear">
<ul class="clear">

</ul>
</div>
<div class="search1">
<div class="imglog">
<img src="{{ url_for('static', filename='img/logohc.png') }}" />
</div>
<div><form action="/search" method="post">
<input type="text" class="txtingput" name="w"/>
<input type="submit" class="txtbutton"  value="超锅一下">
</form>
</div>
</div >

</div>

<div style="text-align:center;margin:50px 0; font:normal 14px/24px 'MicroSoft YaHei';color:#ffffff">
<p>超锅快搜资源来自互联网，本站不存储任何资源</p>
<p><a href="http://66super.com/" target="_blank">鄂ICP备16015580号 Copyright © 2013-2017 超锅 版权所有</a></p>
</div>
</body>
</html>